input.form-control{
  padding: 10px;
  outline: none;
  width: 100%;
  border: 1px solid #262628!important;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  color:rgba(255, 255, 255, 1);
  background: transparent;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
input.form-control:focus {
  outline: none;
  background: transparent;
  box-shadow: none;
  color: rgba(255,255,255,.8);
}
.no-results{
  font-size: 16px;
  color:rgba(255, 255, 255, 0.8);

}
h2.form-title{
  font-size: 40px;    
  color: #fff;
  font-weight: 700;
  margin-bottom: 40px;
}
.event-list {
  padding: 110px 20px;
  color: white;
  font-family: "DM Sans", sans-serif;
  max-width: 1210px;
  margin: 0 auto;
}

.event-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #1E1E1E;
  align-items: center;
}

.event-date {
  width: 112px;
  height: auto;
  position: relative;
  text-align: center;
  background-color: rgba(255,255,255,.05);
  padding: 12px;
  border-radius: 8px;
}

.event-day {
  font-size: 14px;
  text-transform: uppercase;
  color: #aaa;
}

.event-number {
  font-size: 24px;
  font-weight: 700;
  margin: 4px 0;
}

.event-month-year {
  font-size: 12px;
  color: #aaa;
}

.event-content {
  flex-grow: 1;
  padding: 0 24px;
}

.event-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 8px;
  color: #fff;

}

.event-description {
  font-size: 16px;
  color: #ccc;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.event-action {
  min-width: 120px;
  text-align: right;
  align-self: center;
}

.event-action a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  transition: .3s ease;
  &:hover{
    color: #E6AD23;
  }
}

@media only screen and (max-width: 767px) {
  .event-list{
    padding: 50px 15px 50px 15px;
  }
  .event-item {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  .event-content {
    text-align: center;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  h2.form-title {
    font-size: 37px;
  }
}